*
{
    padding: 0;
    margin: 0;
    outline: 0;
}
body
{
 background-image: url("../Resimler/arkaplan.png");
}

h3
{
    text-align: center;
    font-size: 35px;
    color:white;
}

p{
    color: white;
    font-size: 1.7vw;
}


div.aciklama_resim
{
    padding-left: 30px;
    width: 35%;
    float: left;
}

img.aciklama_resim
{
    max-width: 100%;
    height: auto;
}

div.hobi_resim
{
    float: left;
    display: block;
    max-width: 22%;
    margin-left: 8.5%;
}

p.hobi_aciklama
{
    text-align: center;
    color: white;
}

div.sifirla
{
    clear: both;
}

div.bosluk
{
    height: 25px;
}

div.bosluk2
{
    height: 50px;
}

/* Mobile */
div.aciklama_metin {
    padding-left: 30px;
    padding-top: 30px;
    float: left;
    font-style: initial;
    width: 62%;
}

div.button_link
{
    float: left;
    display: block;
    max-width: 100%;
    text-align:center;
    margin-left: 15vw;
}
div.button_link2
{
    float: left;
    display: block;
    max-width: 100%;
    text-align:center;
    margin-left: 20.2vw;
}
div.button_link3
{
    float: left;
    display: block;
    max-width: 100%;
    text-align:center;
    margin-left: 19.2vw;
}

img.hobi-resim
{
    max-width: 100%;
    height: 100px;
    display: block;
}



/* Tablet */
@media (min-width:600px) {
    div.aciklama_metin {
    padding-left: 30px;
    padding-top: 50px;
    float: left;
    font-style: initial;
    width: 62%;
    }
    div.button_link
{
    float: left;
    display: block;
    max-width: 100%;
    text-align:center;
    margin-left: 17vw;
}
div.button_link2
{
    float: left;
    display: block;
    max-width: 100%;
    text-align:center;
    margin-left: 23.2vw;
}
div.button_link3
{
    float: left;
    display: block;
    max-width: 100%;
    text-align:center;
    margin-left: 23.5vw;
}
img.hobi-resim
{
    max-width: 100%;
    height: 150px;
    display: block;
}

p{
    color: white;
    font-size: 1.58vw;
}

}

/* Desktop */
@media (min-width:900px) {
div.aciklama_metin
{
    padding-left: 30px;
    padding-top: 100px;
    float: left;
    font-style: initial;
    width: 62%;
    height: auto;
}
div.button_link
{
    float: left;
    max-width: 100%;
    text-align:center;
    margin-left: 17.5vw;
    
}
div.button_link2
{
    float: left;
    max-width: 100%;
    text-align:center;
    margin-left: 27vw;

}
div.button_link3
{
    float: left;
    max-width: 100%;
    text-align:center;
    margin-left: 27vw;
}
img.hobi-resim
{
    max-width: 100%;
    height: 250px;
    display: block;
}

p{
    color: white;
    font-size: 1.5vw;
}


}


