body
{
    background-color: black;
}


h1.baslik
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}



h3
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}



img
{
    padding-left: 0.3vw;
    width: 100%;
    height: auto;
}

img.teknik_adamlar
{
    width: 3vw;
    height: auto;
}

li
{
    color: white;
}
div.container
{
    display: flex;
}




p.resim
{
    padding-left: 1vw;
}

div.sifirla
{
    clear: both;
}

div.bosluk
{
    height: 30px;
}



/* Mobile */
h2{

    font-size: 3.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
    
    }
    
    p
    {
        color: white;
        font-size: 2vw;
    }
    
    div.metin
    {
        float: left;
        width: 61vw;
        border-style:double;
        border-color: white;
        min-height: 49.5vw;    
    }
    
    
    div.resim
    {
        float: left;
        border-style: double;
        border-color: white;
        width: 26.2vw;
        max-height: 90vw;
    }

    div.container2
{
    float: left;
    width: 23.2vw;
    max-height: 51vw;
}





/* Tablet */
@media (min-width:600px) {

h2{

font-size: 3.6vw;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;


}

p
{
    color: white;
    font-size: 1.6vw;
}

div.metin
{
    float: left;
    width: 61vw;
    border-style:double;
    border-color: white;
    min-height: 49.5vw;    
}


div.resim
{
    float: left;
    border-style: double;
    border-color: white;
    width: 23.2vw;
    max-height: 75vw;
}

div.container2
{
    float: left;
    width: 23.2vw;
    max-height: 51vw;
}



}

/* Desktop */
@media (min-width:900px) {

h2
{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: 2vw;
}

p
{
    color: white;
    font-size: 1.2vw;
}

div.metin
{
    float: left;
    width: 61vw;
    border-style:double;
    border-color: white;
    min-height: 49.5vw;    
}


div.resim
{
    float: left;
    border-style: double;
    border-color: white;
    width: 16.2vw;
    max-height: 51vw;
}

div.container2
{
    float: left;
    width: 16.2vw;
    max-height: 51vw;
}

}

















