
body
{
    background-image: url("../Resimler/arkaplan.png");
}

h1
{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

h2
{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

h2.footer
{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 25px;
}

h3
{
    padding-left: 30px;
    color: white;
    font-size: 1.4vw;
}

h3.sosyal_ag
{
    text-align: center;
    color: white;
}

h4
{
    padding-left: 30px;
    color: white;
    font-size: 1.4vw;
}

p
{
    color: white;
    padding-left: 30px;
    font-size: 1.140vw;
}

li 
{
    color: white;
}


img
{
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
    text-align: center;
    max-height: 200px;
    
    height: auto;
}


div.bosluk
{
    height: 230px;
    width: 1.57%;
    float: left;
}

div.bosluk2
{
    height: 24px;
}


div.sifirla
{
    clear: both;
}

/* Mobile */
div.article
{
    border: 2px solid; 
    border-color: white;
    height: auto;
    min-height: 180px;
    width: 23.1%;
    float: left;
}

div.article_2
{
    border: 2px solid; 
    border-color: white;
    height: auto;
    min-height: 180px;
    width: 23.1%;
    float: left;
}

div.article_3
{
    border: 2px solid; 
    border-color: white;
    height: auto;
    min-height: 180px;
    width: 23.1%;
    float: left;
}

div.article_4
{
    border: 2px solid; 
    border-color: white;
    height: auto;
    min-height: 180px;
    width: 23.1%;
    float: left;
}

div.article_5
{
    border: 2px solid; 
    border-color: white;
    height: auto;
    width: 23.1%;
    float: left;
}

div.article_6
{
    border: 2px solid; 
    border-color: white;
    height: auto;
    width: 23.1%;
    float: left;
}


div.ortabosluk
{
    float: left;
    height: auto;
    width: 51.05%;
    text-align: center;

}

div.bosluk
{
    height: 230px;
    width: 1.57%;
    float: left;
}

div.bosluk2
{
    height: 0.1px;
}

li.metin
{
    font-size: 1.44vw;;
}


/* Tablet */
@media (min-width:600px) {
    div.article
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 180px;
        width: 23.1%;
        float: left;
    }
    
    div.article_2
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 180px;
        width: 23.1%;
        float: left;
    }
    
    div.article_3
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 180px;
        width: 23.1%;
        float: left;
    }
    
    div.article_4
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 180px;
        width: 23.1%;
        float: left;
    }
    
    div.article_5
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        width: 23.1%;
        float: left;
    }
    
    div.article_6
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        width: 23.1%;
        float: left;
    }
    
    
    div.ortabosluk
{
    float: left;
    height: auto;
    width: 51.05%;
    text-align: center;

}
    div.bosluk
{
    height: 230px;
    width: 1.57%;
    float: left;
}

div.bosluk2
{
    height: 0.1px;
}

li.metin
{
    font-size: 0.8vw;;
}


}

/* Desktop */
@media (min-width:900px) {
    div.article
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 265px;
        width: 23.1%;
        float: left;
    }
    
    div.article_2
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 265px;
        width: 23.1%;
        float: left;
    }
    
    div.article_3
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 265px;
        width: 23.1%;
        float: left;
    }
    
    div.article_4
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        min-height: 265px;
        width: 23.1%;
        float: left;
    }
    
    div.article_5
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        width: 23.1%;
        float: left;
    }
    
    div.article_6
    {
        border: 2px solid; 
        border-color: white;
        height: auto;
        width: 23.1%;
        float: left;
    }
    
    div.ortabosluk
{
    float: left;
    height: auto;
    width: 51.05%;
    text-align: center;

}
div.bosluk
{
    height: 230px;
    width: 1.57%;
    float: left;
}

div.bosluk2
{
    height: 24px;
}

li.metin
{
    font-size: 1.2vw;;
}


}